.wrapperLink {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	flex: 0 1 31.3%;

	@media (max-width: 1400px) {
		flex: 0 1 31%;
	}

	@media (max-width: 1280px) {
		flex: 0 1 30.8%;
	}

		@media (max-width: 1140px) {
		flex: 0 1 30.4%;
	}

	@media (max-width: 991px) {
		flex: 0 1 47%;
	}

	@media (max-width: 768px) {
		flex: 0 1 45%;
	}

	@media (max-width: 680px) {
		flex: 0 1 100%;
	}
}

.image {
	position: relative;
	width: 100%;
	padding-bottom: 73.6%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.content_box {
	width: 100%;
	padding: 20px 20px 40px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
	font-family: var(--font-source-code);
	width: 100%;
	height: 100%;
}

.date {
	color: var(--color-date);
	font-size: 16px;
	font-weight: 400;
	line-height: 175%;
}

.title {
	color: var(--color-blog);
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 141%;
	height: 136px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4; /* Відображення тільки трьох рядків тексту */
	-webkit-box-orient: vertical;

	@media (max-width: 560px) {
		-webkit-line-clamp: 5;
	}
}
