.wrapperTyping {
	color: var(--color-text);
	text-align: center;
	font-family: var(--font-source-code);
	font-size: 32px;
	font-weight: 400;
	line-height: 44px;
	margin-bottom: 170px;

	@media (max-width: 991px) {
		margin-bottom: 60px;
	}

	@media (max-width: 560px) {
		font-size: 28px;
	}

	@media (max-width: 480px) {
		padding: 0px 10px;
	}
}
