.wrapperAbout {
	background:
		linear-gradient(180deg, rgba(33, 162, 255, 0.15) 0%, rgba(33, 162, 255, 0) 100%),
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg"),
		lightgray 50% / cover no-repeat;
	display: flex;
	justify-content: center;
}

.container {
	max-width: 1440px;
	padding: 20px 40px 80px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 120px;
	width: 100%;
	opacity: 0;
	animation: animation-appearance 0.7s linear 0.4s forwards;

	@media (max-width: 560px) {
		padding: 20px 10px 80px 10px;
	}
}

.box_about {
	padding: 0px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 120px;
	width: 100%;

	@media (max-width: 768px) {
		gap: 80px;
		padding: 0;
	}
}

.team,
.mission {
	color: var(--color-title);
	font-family: var(--font-source-code);
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 137.5%;
	display: flex;
	gap: 40px;
	width: 100%;

	@media (max-width: 991px) {
		flex-direction: column;
		gap: 10px;
	}

		@media (max-width: 768px) {
			font-size: 24px;
			line-height: 141%;
			letter-spacing: -1px;
		}
}

.team {
	.open {
		display: flex;
		justify-content: center;
		padding-top: 10px;
		
		@media (max-width: 991px) {
			justify-content: flex-start;
			padding-top: 0;
		}
	}
}

.mission {
	justify-content: flex-end;

	.close{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 10px;

		@media (max-width: 991px) {
			justify-content: flex-end;
			padding-bottom: 0;
		}
	}
}

.text {
	max-width: 660px;

	@media (max-width: 768px) {
		max-width: 100%;
	}
}

.box_quality {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	flex-wrap: wrap;

		@media (max-width: 1200px) {
			justify-content: center;
		}
}

@keyframes animation-appearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}