.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0 1 49%;
	height: 100%;

	@media (max-width: 1400px) {
		flex: 0 1 45%;
	}

	@media (max-width: 991px) {
		margin-bottom: 40px;
		justify-content: center;
		gap: 60px;
	}
}

.title {
	color: var(--color-title);
	font-family: var(--font-source-code);
	font-size: 64px;
	font-weight: 400;
	line-height: 112%;

	@media (max-width: 1280px) {
		font-size: 58px;
	}

	@media (max-width: 1140px) {
		font-size: 54px;
	}

	@media (max-width: 1024px) {
		font-size: 50px;
	}

	@media (max-width: 560px) {
		font-size: 48px;
	}

	@media (max-width: 400px) {
		font-size: 40px;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.item {
	display: flex;
	align-items: center;
	gap: 40px;
	font-family: var(--font-source-code);

	span {
		color: var(--color-label);
		font-variant-numeric: slashed-zero;
		font-size: 16px;
		font-weight: 600;
		line-height: 150%;
		min-width: 75px;
	}

	a {
		color: var(--color-title);
		font-family: "Source Code Pro";
		font-size: 24px;
		font-weight: 500;
		line-height: 142%;

		@media (max-width: 1140px) {
			font-size: 22px;
		}

			@media (max-width: 560px) {
			font-size: 20px;
		}
	}
}
