.header {
	background:
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg"),
		lightgray 50% / cover no-repeat;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
}

.container {
	max-width: 1440px;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
	width: 100%;
	opacity: 0;
	animation: animation-appearance 0.7s linear 0.2s forwards;

	@media (max-width: 1410px) {
		gap: 50px;
	}

	@media (max-width: 1280px) {
		gap: 30px;
		padding: 20px;
	}

	@media (max-width: 560px) {
		padding: 20px 10px;
	}
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;

	@media (max-width: 1140px) {
		gap: 20px;
	}
}

.btn_link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_header {
	background-color: var(--color-light-green);
	color: var(--color-dark-green);
	// padding: 7px 28px;
	padding: 7px 0;
	min-width: 230px;
	text-align: center;
	border: 2px solid var(--color-light-green);
	font-family: "Source Code Pro";
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.32px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	@media (max-width: 1410px) {
		font-size: 15px;
	}

	@media (max-width: 1280px) {
		font-size: 14px;
		padding: 6px 0;
		min-width: 200px;
	}

	@media (max-width: 1140px) {
		font-size: 13px;
		padding: 5px 0;
	}

	@media (max-width: 1024px) {
		font-size: 12px;
		padding: 4px 0;
		min-width: 170px;
	}

	&:hover {
		background-color: transparent;
		color: var(--color-light-green);
		transition: all 0.3s ease-in-out;
	}
}

@keyframes animation-appearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
