.wrapper {
	background:
		linear-gradient(180deg, rgba(33, 162, 255, 0.15) 0%, rgba(33, 162, 255, 0) 24.52%),
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg") lightgray 50% / cover no-repeat;
	display: flex;
	justify-content: center;

	&.load {
		height: 100vh;
	}
}

.container {
	max-width: 1440px;
	padding: 20px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	&.error {
		flex-direction: column;
	}

	@media (max-width: 560px) {
		padding: 20px 0px;
	}
}

.article_body {
	max-width: 894px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	opacity: 1;

	&.loading {
		opacity: 0;
	}
}

.title_box {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--color-white);
	font-size: 18px;
	font-weight: 400;
	line-height: 144%;

	@media (max-width: 560px) {
		padding: 0px 10px;
	}
}

.arrow {
	display: flex;
	align-items: center;
}

.title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	max-width: 334px;
}
