.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&.error {
		background:
			linear-gradient(181deg, rgba(33, 162, 255, 0.15) 8.15%, rgba(33, 162, 255, 0) 91.85%),
			linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
			url("../../../assets/images/bg/bg_noise.jpg") lightgray 50% / cover no-repeat;
		width: 100%;
		height: 60vh;
	}
}

.tittle_box {
	background:
		linear-gradient(181deg, rgba(33, 162, 255, 0.15) 8.15%, rgba(33, 162, 255, 0) 91.85%),
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg") lightgray 50% / cover no-repeat;
	width: 100%;
	padding: 40px 0;
}

.title {
	color: var(--color-white);
	font-family: var(--font-source-code);
	font-size: 120px;
	text-align: center;
	font-weight: 400;
	line-height: 106.25%;
	text-transform: uppercase;
}

.blog_wrapper {
	background:
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg") lightgray 50% / cover no-repeat;
	display: flex;
	justify-content: center;
	width: 100%;

	&.load {
		height: 100vh;
	}
}

.blog_container {
	max-width: 1440px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
	padding: 40px;

	@media (max-width: 991px) {
		justify-content: space-between;
	}

	@media (max-width: 560px) {
		justify-content: center;
		padding: 40px 10px;
	}
}

.paginate_box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background, linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%), url("../../../assets/images/bg/bg_noise.jpg") lightgray 50% / cover no-repeat);
	padding-bottom: 40px;
}
