.wrapperServices {
	background:
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg"),
		lightgray 50% / cover no-repeat;
	display: flex;
	justify-content: center;
}

.container {
	max-width: 1440px;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	// gap: 40px;
	width: 100%;
	opacity: 0;
	animation: animation-appearance 0.7s linear 0.4s forwards;

	@media (max-width: 560px) {
		padding: 80px 0px;
	}
}

.box_service {
	padding: 80px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// gap: 40px;
	width: 100%;
}

.service_tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-primary-container);
	padding: 10px;
	margin-bottom: 40px;

	@media (max-width: 560px) {
		padding: 5px;
		width: 100%;
	}
}

.service_item {
	padding: 5px 0;
	color: var(--color-title);
	text-align: center;
	font-family: var(--font-source-code);
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 137%;
	text-transform: uppercase;
	// background: var(--color-primary-container);
	cursor: pointer;
	min-width: 232px;

	@media (max-width: 768px) {
		font-size: 24px;
		min-width: 180px;
	}

	@media (max-width: 560px) {
		// min-width: 165px;
		min-width: auto;
		flex: 0 1 48%;
	}

	@media (max-width: 370px) {
		// min-width: 144px;
		font-size: 22px;
	}
}

@keyframes animation-appearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
