.footer {
	background:
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg"),
		lightgray 50% / cover no-repeat;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.wrapperMenu {
	display: flex;
	justify-content: center;
	opacity: 0;
	animation: animation-appearance 0.7s linear 0.4s forwards;
}

.container {
	max-width: 1440px;
	padding: 0 40px;
	display: flex;
	align-items: center;
	gap: 60px;
	width: 100%;

	@media (max-width: 1280px) {
		padding: 0 20px;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
	}

	@media (max-width: 560px) {
		padding: 0 10px;
	}
}

.wrapperPolicy {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	background-color: var(--color-primary-container);
	width: 100%;
	opacity: 0;
	animation: animation-appearance 0.7s linear 0.4s forwards;

	@media (max-width: 768px) {
		padding: 40px 0;
	}
}

.logo {
	@media (max-width: 768px) {
		margin-right: auto;
	}
}

@keyframes animation-appearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
