.button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 40px;
	bottom: 132px;
	width: 48px;
	height: 48px;
	border: none;
	background-color: var(--color-container);
	cursor: pointer;
	z-index: 2;

	.down {
		bottom: 658px;
	}

	@media (max-width: 860px) {
		right: 40px;
		bottom: 190px;
	}

	@media (max-width: 768px) {
		right: 10px;
		// bottom: 658px;
		bottom: 176px;
	}

}

.button:hover * {
	fill: var(--color-container);
}

.button:hover {
	transition: box-shadow 0.3s;
	transition: background-color 0.3s;
	background-color: var(--color-white);
	box-shadow: inset 0 0 5px 2px var(--color-container);
}
