.wrapper {
	position: relative;
	transition: all 0.7s ease-in 0.1s;
	height: auto;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	color: var(--color-title);
	z-index: 50;

	&.active {
		background-color: var(--color-container);
		transition: all 0.3s ease-in-out;
	}
}

.selected {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	& span {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease-in-out;
	}
}

// .lang {
// 	padding: 0px 8px 0px 4px;
// }

.arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	// margin-left: 10px;
	transition: all 0.3s ease-in-out;

	& svg {
		transition: all 0.3s ease-in-out;

		& path {
			transition: all 0.3s ease-in-out;
		}
	}

	&.up svg {
		transform: rotate(180deg);
		transition: all 0.3s ease-in-out;
	}
}

.dropdown {
	position: absolute;
	background-color: var(--color-container);
	width: 100%;
	overflow: hidden;
}

.dropdownItem {
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	gap: 4px;
	align-items: center;
	line-height: 140%;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: all 0.3s ease-in-out;

	// &:hover {
	// 	color: #fefefe;
	// 	transition: all 0.3s ease-in-out;
	// 	background-color: #588cc4;
	// }

	span {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
