.wrapperPortfolio {
	background:
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg"),
		lightgray 50% / cover no-repeat;
	display: flex;
	justify-content: center;
}

// .wrapperPortfolio {
// 	background:
// 		linear-gradient(180deg, rgba(33, 162, 255, 0) 0%, rgba(33, 162, 255, 0.15) 100%),
// 		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
// 		url("../../../assets/images/bg/bg_noise.jpg") lightgray 50% / cover no-repeat;
// 	display: flex;
// 	justify-content: center;
// }

.container {
	max-width: 1440px;
	padding: 80px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	opacity: 0;
	animation: animation-appearance 0.7s linear 0.4s forwards;

	@media (max-width: 560px) {
		padding: 80px 10px;
	}
}

.title {
	align-self: flex-start;
	color: var(--color-title);
	text-align: center;
	font-family: var(--font-source-code);
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 112%;

	@media (max-width: 560px) {
		font-size: 48px;
	}
}

.slider_body {
	width: 100%;
}

@keyframes animation-appearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
