.container_forma {
	width: 100%;
	flex: 0 1 49%;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 40px;

	@media (max-width: 560px) {
		gap: 20px;
	}
}

.typeServices {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.title {
	color: var(--color-title);
	font-family: var(--font-source-code);
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
}

.typeList {
	display: flex;
	align-items: center;
	gap: 20px;
}

.labelRadio {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	position: relative;
	cursor: pointer;

	& input:checked ~ .customRadio {
		border-color: var(--color-light-blue);
	}

	& input:checked ~ .radioName {
		color: var(--color-light-blue);
	}
}

.radioCheck {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.radioName {
	color: var(--color-text);
	font-variant-numeric: slashed-zero;
	font-family: var(--font-source-code);
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
}

.customRadio {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border: 2px solid var(--color-label);
}

.source_container {
	display: flex;
	flex-direction: column;
	gap: 40px;

	@media (max-width: 560px) {
		gap: 20px;
	}
}

.services_box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.servicesList {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	position: relative;
}

.budget_box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.budgetList {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.staff_box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-height: 260px;
	position: relative;

	@media (max-width: 1302px) {
		min-height: 324px
	}

	@media (max-width: 560px) {
		min-height: 304px
	}

	@media (max-width: 420px) {
		min-height: 368px
	}

	@media (max-width: 417px) {
		min-height: 432px
	}
}

.input_box {
	display: flex;
	gap: 40px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	@media (max-width: 560px) {
		gap: 20px;
		padding-top: 20px;
	}
}

.labelInput,
.labelTextArea {
	color: var(--color-label);
	font-size: 18px;
	font-weight: 400;
	line-height: 144%;
	background: var(--color-container);
	position: relative;
}

.labelInput {
	flex: 0 1 46.8%;

	@media (max-width: 1360px) {
		flex: 1 1 45%;
	}

	@media (max-width: 560px) {
		flex: 0 1 100%;
	}
}

.labelTextArea {
	flex: 0 1 100%;
}

.input {
	padding: 10px 20px;
	width: 100%;

	@media (max-width: 560px) {
		min-height: 56px;
	}
}

.textArea {
	padding: 15px 20px;
	width: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;

	@media (max-width: 560px) {
		min-height: 108px;
	}
}

.btn_forma {
	padding: 8px 30px;
	border: 2px solid var(--color-light-green);
	width: fit-content;
	background: var(--color-light-green);
	color: var(--color-dark-green);
	font-family: var(--font-source-code);
	font-size: 16px;
	font-weight: 700;
	line-height: 187%;
	letter-spacing: 0.32px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	@media (max-width: 560px) {
		width: 100%;
		text-align: center;
	}

	&:hover {
		background-color: transparent;
		color: var(--color-light-green);
		transition: all 0.3s ease-in-out;
	}
}

.error{
	color: var(--color-validation);
	position: absolute;
	bottom: -30px;
	font-family: var(--font-source-code);
	font-size: 14px;

	@media (max-width: 560px) {
		bottom: -22px;
		font-size: 12px;
	}
}