.wrapperForma {
	background:
		linear-gradient(180deg, rgba(33, 162, 255, 0.15) 0%, rgba(33, 162, 255, 0) 100%),
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg") lightgray 50% / cover no-repeat;
	display: flex;
	justify-content: center;
}

.container {
	max-width: 1440px;
	padding: 80px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	width: 100%;
	opacity: 0;
	animation: animation-appearance 0.7s linear 0.4s forwards;

	@media (max-width: 991px) {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	@media (max-width: 560px) {
		padding: 80px 10px;
	}
}

.tell {
	color: var(--color-title);
	font-family: var(--font-source-code);
	font-size: 25px;
	font-style: normal;
	font-weight: 500;
	line-height: 141%;

	@media (max-width: 560px) {
		font-size: 24px;
	}

	@media (max-width: 400px) {
		font-size: 22px;
	}
}

@keyframes animation-appearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
