.wrapper {
	background: var(--color-container);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 80px;
	width: 100%;
	padding-bottom: 100px;
}

.main_box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.image {
	position: relative;
	padding-bottom: 56%;
	width: 100%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.content_box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: var(--font-source-code);
	gap: 20px;
	padding: 0px 117px;
	width: 100%;

	@media (max-width: 991px) {
		padding: 0px 50px;
	}

	@media (max-width: 768px) {
		padding: 0px 20px;
	}

	@media (max-width: 560px) {
		padding: 0px 10px;
	}
}

.date {
	color: var(--color-date);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	text-transform: uppercase;
}

.title {
	color: var(--color-blog);
	font-size: 32px;
	font-weight: 400;
	line-height: 137%;
}



.blocks_body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}

.subcontent_box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	padding: 0px 117px;
	font-family: var(--font-source-code);
	color: var(--color-blog);

	@media (max-width: 991px) {
		padding: 0px 50px;
	}

	@media (max-width: 768px) {
		padding: 0px 20px;
	}

	@media (max-width: 560px) {
		padding: 0px 10px;
	}
}

.subtitle {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 141%;
	color: var(--color-blog);
}

.description {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	color: var(--color-blog);
	font-family: var(--font-lato);
	letter-spacing: 2px;
}

.sub_image {
	position: relative;
	padding-bottom: 56%;
	width: 100%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
